In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cleaned_data_ds_salaries.csv')
df.head()

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,Senior,Full-Time,Data Scientist,85847,ES,Fully Remote,ES,Large
1,2023,Mid-Level,Contract,Machine Learning Engineer,30000,US,Fully Remote,US,Small
2,2023,Mid-Level,Contract,Machine Learning Engineer,25500,US,Fully Remote,US,Small
3,2023,Senior,Full-Time,Data Scientist,175000,CA,Fully Remote,CA,Medium
4,2023,Senior,Full-Time,Data Scientist,120000,CA,Fully Remote,CA,Medium

In [5]:
df.groupby('job_title').sum()['salary_in_usd'].sort_values(ascending=False)

job_title
Data Engineer                171744884
Data Scientist               141320930
Data Analyst                  78017254
Machine Learning Engineer     62170177
AI Engineer                   38431055
Data Architect                16872850
Other                          8019664
Name: salary_in_usd, dtype: int64